<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-bady">
                    <form action=""method="post">
                        <div class="form-group">
                            <label for="">registrar</label>
                        </div>
                        <div class="form-grup">
                            <input class="form-control" type="text" name="usuario" id="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="contra" id="">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-succes btn-block">enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>